site_domain        = "eks-upgrade-planner.bozhi.dev"
additional_aliases = []
hosted_zone_id     = "<ROUTE53_HOSTED_ZONE_ID>"
aws_region         = "us-east-1"
bucket_name        = "eks-upgrade-planner.bozhi.dev"

tags = {
  Owner       = "platform"
  Environment = "prod"
}
